body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: rgb(50,0,64);
    background: linear-gradient(180deg, rgba(50,0,64,1) 0%, rgba(225,118,255,1) 50%, rgba(236,216,255,1) 100%);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    background-color: black;
    width: 100%;
}

#footer{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
}

.logoIcon{
    max-width: 50px;
}

/*.tableWrapper{
    border-style: groove;
}*/

table{
    background-color: white;
    color: black;
    border: 5px solid groove
}
