@{
    ViewBag.Title = "About";
}
<h2>About HammerSpace</h2>
</br>
<hr>
</br>
<p>This Web App was developed for the sole purpose of allowing a User to have a digitized collection of all of their games and movies, with books and potentially more additions in the future. Developed by Evan Lacy as a independent project for the Red Badge of Eleven Fifty's Software Development Course, it is the summation of all the knowledge gained over the course of the previous three months.</p>
