@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Evan Lacy<br />
    <br />
    <abbr title="Phone">P:</abbr>
    (317)-469-3065
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:lacyevan@yahoo.com">lacyevan@yahoo.com</a><br />
</address>