@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HammerSpace</h1>
    <p class="lead">HammerSpace is a brilliant inventory management system for you, the User, so you can maintain a digital collection of all your nerdy items, like video games and movies.</p>
    <p><a href="https://github.com/Evan-Lacy/HammerSpace" class="btn btn-primary btn-lg clicker">Learn more &raquo;</a></p>
</div>

<div class="row boxArea">
    <div class="col-md-4 boxNav">
        <h2>Getting started</h2>
        <p>
            HammerSpace works by naviagting to the Movie or Game database and adding the items therein to your personal inventory. This allows you to be able to review all the items you personally own and check them digitally while out and about. Click below to navigate to one of our databases!
        </p>
        <a class="btn btn-default elements clicker" href="@Url.Action("Index", "Game")">Games &raquo;</a>
        <a class="btn btn-default elements clicker" href="@Url.Action("Index", "Movie")">Movies &raquo;</a>
    </div>
    <div class="col-md-3">
        
    </div>
    <div class="col-md-4 boxNav">
        <h2>Questions?</h2>
        <p>If you have questions about HammerSpace, you can follow the link below to find our contact information and reach out!</p>
        <p><a class="btn btn-default clicker" href="@Url.Action("About", "Home")">Reach out! &raquo;</a></p>
    </div>
</div>