@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HammerSpace</h1>
    <p class="lead">HammerSpace is a brilliant inventory management system for you, the User, so you can maintain a digital collection of all your nerdy items, like video games and movies.</p>
    <p><a href="https://github.com/Evan-Lacy/HammerSpace" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            HammerSpace works by naviagting to the Movie or Game database and adding the items therein to your personal inventory. This allows you to be able to review all the items you personally own and check them digitally while out and about. Click below to navigate to one of our databases!
        </p>
        <a class="btn btn-default elements" href="@Url.Action("Index", "Game")">Games &raquo;</a>
        <a class="btn btn-default elements" href="@Url.Action("Index", "Movie")">Movies &raquo;</a>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>